[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
