@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

@keyframes blink {
    0%      {opacity: 0}
    50%     {opacity: 1}
    100%    {opacity: 0}
}

body {
    background-color: #263238;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a, p, h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0px;
}

#user_container {
    display: none;
    background-color: #37474F;
    border-radius: 3px;
}

#user_container img {
    margin: 10px 20px 10px 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all .25s ease-in-out;
}

#lb_loading {
    display: none;
}

.nolink {
    text-decoration: none !important;
    color: white !important;
}

.textbox {
    width: 100%;
    border-style: none;
    border-radius: 3px;
    color: black; 
    background-color: white;
    padding: 5px;
    text-align: center;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    opacity: .75;
    transition: all .25s ease-in-out;
}

.textbox:hover {
    opacity: 1;
}

.textbox:focus {
    opacity: 1; 
}

.button {
    padding: 10px;
    background-color: #29B6F6;
    border-radius: 3px;
    border-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.button:active {
    background-color: rgb(94, 202, 248);
}

.shadow {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
}