$height: 60px;

.guild {
  width: 100%;
  height: $height;
  background-color: rgba(0, 0, 0, 0.5);

  display: grid;
  column-gap: 20px;
  grid-template-columns: $height auto;
  grid-template-rows: 50% 30%;

  transition: all .25s ease;

  > img {
    width: 100%;
  }

  > h3, p {
    margin: auto 0 0 0;
  }

  .id {
    grid-column-start: 2;
    font-size: 12px;
  }

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 20px 0px;
  }
}
