<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <center>
        <p style="font-size: 10px; margin-top: 10px;">BUILD VERSION {{.VERSION}} ({{.COMMIT}}) [{{.DATE}}]</p>
        <div style="display: flex; justify-content: center; margin-top: 130px;">
            <h2 class="heading">TOKEN TOOLS</h2>
        </div>
        
        <div style="width: 400px;">
            <input class="textbox shadow" type="password" id="tb_token" style="margin-top: 20px;" autocomplete="off"/>
            <br><br>
            <button id="btn_submit" class="button shadow" style="margin-top: 20px;">CHECK</button>
        </div>

        <div href="javascript:{}" id="user_container" style="width: 400px; margin-top: 80px;">
            <img id="img_avatar" src="https://zekro.de/src/favicon.png">
            <ul>
                <li><h3 id="lb_name" class="nolink" style="margin: 0px;">Name</h3></li>
                <li><p  id="lb_tag"  class="nolink" style="margin: 5px 0px 0px 0px;"><i>Tag#5465</i></p></li>
                <li><p  id="lb_info" class="nolink" style="margin: 5px 0px 0px 0px;">Running on ... guilds</p></li>
            </ul>
        </div>

        <div><p id="lb_loading">Collecting guild data...</p></div>

        <div class="footer">
            <div>
                <div style="margin-right: 50px;">
                    <ul style="list-style-type: none; text-align: left;">
                        <li><h4 class="footer_header" style="margin: 0px;">Info</h4></li>
                        <li><p  class="footer_text" style="margin: 10px 0px 0px;">TokenTools R v.{{.VERSION}}</p></li>
                        <li><p  class="footer_text" style="margin: 5px 0px 0px;">© 2018 zekro Development</p></li>
                    </ul>
                </div>
                <div style="margin-right: 50px;">
                    <ul style="list-style-type: none; text-align: left;">
                        <li><h4 class="footer_header" style="margin: 0px;">Links</h4></li>
                        <li><p  class="footer_text" style="margin: 10px 0px 0px;"><a href="https://github.com/zekroTJA/tokenToolsR" target="_blank">GitHub</a></p></li>
                        <li><p  class="footer_text" style="margin: 5px 0px 0px;"><a href="https://github.com/zekroTJA/tokenToolsR/blob/master/APIREFERENCE.md" target="_blank">API Reference</a></p></li>
                        
                    </ul>
                </div>
                <div style="margin-right: 50px;">
                    <ul style="list-style-type: none; text-align: left;">
                        <li><h4 class="footer_header" style="margin: 0px;">Impress</h4></li>
                        <li><p  class="footer_text" style="margin: 10px 0px 0px;"><a href="https://zekro.de/impress" target="_blank">Impress / Legal Notice</a></p></li>
                        <li><p  class="footer_text" style="margin: 5px 0px 0px;"><a href="https://zekro.de" target="_blank">Website</a></p></li>
                    </ul>
                </div>
                <div>
                    <ul style="list-style-type: none; text-align: left;">
                        <li><h4 class="footer_header" style="margin: 0px;">Contact</h4></li>
                        <li><p class="footer_text" style="margin: 10px 0px 0px;">contact@zekro.de</p></li>
                        <li><p class="footer_text" style="margin: 5px 0px 0px;"><a href="https://zekro.de/discord">Discord (zekro#9131)</a></p></li>
                    </ul>
                </div>
            </div>
        </div>

    </center>

    <script src="assets/script.js"></script>
</body>

</html>