@import 'styles/vars.scss';

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;

  background-color: $c-bg;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
}


.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.fit {
  width: fit-content;
  height: fit-content;
}

.embed {
  grid-column-start: 2;
  grid-row-start: 3;

  font-size: 14px;
  padding: 4px 10px;
  width: fit-content;
  background-color: $c-bg-1;

  font-family: monospace;
}
